<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="emailMessageSender" class="com.nhnacademy.edu.springframework.messagesender.EmailMessageSender"
    scope = "singleton" destroy-method="cleanup">
    </bean>

    <bean id="smsMessageSender" class="com.nhnacademy.edu.springframework.messagesender.SmsMessageSender"
    scope="prototype" init-method="init" >
    </bean>


<!--    <bean id = "MessageSenderService" class = "com.nhnacademy.edu.springframework.messagesender.MessageSenderService">-->
<!--        <property name = "MessageSender" ref="SmsMessageSender" />-->
<!--    </bean>-->
    <bean id = "MessageSenderService" class="com.nhnacademy.edu.springframework.messagesender.MessageSenderService" autowire="byName">

    </bean>
</beans>